.button {
  @include flex-center(true);

  height: var(--button-height);
  padding-inline: 35px;
  font-size: 20px;
  color: var(--light);
  background-color: var(--dark);
  border: var(--border);
  border-radius: var(--border-radius);
  cursor: pointer;

  @include hover {
    color: var(--dark);
    background-color: var(--green);
  }

  &--transparent {
    color: var(--dark);
    background-color: transparent;
  }
}
