.title-green {
  padding-inline: 7px;
  background-color: var(--green);
  border-radius: var(--border-radius-sm);
}
.title-white {
  padding-inline: 7px;
  background-color: var(--light);
  border-radius: var(--border-radius-sm);
}
